<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/css/styles.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <title>App Barberia</title>
  </head>
  <body class="d-flex align-items-center flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
      <a class="navbar-brand" href="#">Barberia</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        ari="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link home-main" href="index.html"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Servicios
            </a>
            <div class="dropdown-menu" ariledby="navbarDropdown">
              <a class="dropdown-item" href="formulario_producto.html"
                >Agenda tu cita</a
              >
              <a class="dropdown-item" href="tablaprecios.html"
                >Ver productos</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <h1 style="color: #48e">Lista de productos 2025</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cera Moco de Gorilla 200gr</td>
          <td>25.000 $</td>
          <td>
            <div class="form-group col-md-4">

              <select id="inputState" class="form-control">
                <option selected>Seleccionar</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Shampoo romero 600 ml</td>
          <td>30.000 $</td>
          <td>
            <div class="form-group col-md-4">

              <select id="inputState" class="form-control">
                <option selected>Seleccionar</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Minoxidil 5%</td>
          <td>55.000 $</td>
          <td>
            <div class="form-group col-md-4">

              <select id="inputState" class="form-control">
                <option selected>Seleccionar</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>  
    </table>
    <button type="submit" class="btn btn-primary w-25 mx-auto" style="align-self: center;">Añadir al Carrito</button>
  </body>
</html>
